@import "./components/container";
@import "./utils/variables";

@import "./components/heder";
@import "./components/hero";
@import "./components/benefits";
@import "./components/examples";
@import "./components/team";
@import "./components/social-card";
@import "./components/clients";
@import "./components/footer";
@import "./components/modal-form";
@import "./components/filter";
@import "./components/card-set";
