.benefits {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media (min-width: 1200px) {
    flex-wrap: nowrap;
  }
  padding-left: 0px;
}

.benefits__elements {
  @media (min-width: 768px) {
    width: 354px;
    margin: 15px;
  }
  width: 450px;
  @media (min-width: 1200px) {
    width: 270px;
    margin-right: 30px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.benefits__title {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-text-color;
  text-align: center;
}
.benefits__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.section-title-list {
  margin-top: 0px;
  margin-bottom: 0px;
}
.flex-icon {
}

.benefits__icon {
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
}
