.clients {
  @media (max-width: 1199px) {
    flex-wrap: wrap;
  }
  display: flex;
  padding-left: 0px;
  margin: -15px;
}

.clients__icon {
  display: flex;
  margin: 15px;
}
.clients__hover {
  @media (min-width: 768px) {
    width: 226px;
  }
  @media (min-width: 1200px) {
    width: 170px;
  }
  align-items: center;
  width: 210px;
  height: 92px;
  border: solid#AFB1B8 1px;
  border-radius: 2px;
  padding: 16px 32px;
  fill: #afb1b8;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: solid#2196f3 1px;
    fill: $accent-text-color;
  }
}
