.clients {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  margin: 0px;
}

.clients__icon {
  display: flex;
  @media (max-width: 767px) {
    width: calc((75%-4 * 15) / 2);
    margin: 15px;
  }
}

.clients__hover {
  border: solid#AFB1B8 1px;
  border-radius: 2px;
  padding: 16px 32px;
  fill: #afb1b8;
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: solid#2196f3 1px;
    fill: $accent-text-color;
  }
}
