.logo {
  color: $accent-text-color;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding: 16px 0px 15px;
}
.logo__site {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 16px 15px 16px 0px;
}
.logo__site--color {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $primary-background-color;
}

/* Хедер */
.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}

/*Site-nav */
.site-nav {
  display: flex;
  margin-left: 93px;
  padding-left: 0px;
}
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: $title-text-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-text-color;
  }
  &::after {
    position: absolute;
    left: 0px;
    bottom: -1px;
    content: " ";
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: $accent-text-color;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.current::after {
    opacity: 1;
  }
  display: none;
}

/*  Контакты*/
.contacts-nav {
  display: flex;
  margin-left: auto;
  padding-left: 0px;
  @media (max-width: 480px) {
    display: none;
  }
}

.contacts-nav__item {
  align-items: center;
  justify-content: center;
  & + & {
    margin-left: 50px;
  }
}
.contacts-nav__mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  line-height: 100%;
  color: #757575;
  fill: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-text-color;
    fill: $accent-text-color;
  }
}

.contacts-nav__tel-icon {
  margin-right: 10px;
}
