.menu-toggle {
  @media (min-width: 768px) {
    display: none;
  }
  position: absolute;
  top: 15px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu-toggle:hover,
.menu-toggle:focus {
  fill: $accent-text-color;
}
.menu-container {
  @media (min-width: 767) {
    display: none;
  }
  position: fixed;
  padding-left: 0px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  z-index: 999;
  background-color: #ffffff;
  opacity: 0;
  transform: translateX(100%);
}
.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
}
.menu-container .menu-toggle {
}
.menu-container-link {
  display: block;

  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}
.contacts-nav__mail--color {
  display: block;
  margin-top: 302px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  line-height: 100%;
  color: $accent-text-color;
}
.contacts-nav__mail--size {
  display: block;
  margin-bottom: 64px;
  margin-right: 209px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.14;
  line-height: 100%;

  color: #757575;
}
.mobile-menu {
  @media (min-width: 767px) {
    display: none;
  }
  padding-left: 0px;
}
.social-menu {
  display: flex;
  padding-left: 0px;
}
.social-menu__element {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1, 2;
  line-height: 104%;
  align-self: flex-start;
  letter-spacing: 2%;
  color: $accent-text-color;
  text-align: left;
}
.social-menu__element--decor {
  color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}
.contacts-nav__item {
  margin-right: 0px;
}
.js-menu-container {
  @media (min-width: 767px) {
    display: none;
  }
}
