.team {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  padding-left: 0px;
}
.team__element {
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
  @media (min-width: 768px) {
    margin: 15px;
  }
  @media (min-width: 1200px) {
    width: 270px;
  }

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  &:last-child {
  }
}

.team__title {
  text-align: center;
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  letter-spacing: 0.03em;
  color: $title-text-color;
}
.team__text {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.9;

  letter-spacing: 0.03em;
}
.photo {
  background-color: #f5f4fa;
}
